# channel-one-product
CHAT_ID_ICY_RUSH=

CHAT_ID_SEASIDE=

CHAT_ID_SAMRA=

CHAT_ID_HIGH=

CHAT_ID_GARDEN=

CHAT_ID_MINT=

CHAT_ID_HAILA=

CHAT_ID_PURPLE=

CHAT_ID_EDGY=

CHAT_ID_TAMRA=

#ALL-Prosuct-channel-alert
TOKEN3=
CHAT_ID_MAIN=



DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=

TOKEN5=
